$font-famaly: Helvetica, sans-serif;
$primary-color: #333;
$text-color: white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: rgb(255, 255, 255);

  header {
    padding-top: 3vh;
    min-height: 80px;
    height: 10vh;
    background-color: #d2615d;
    margin-bottom: 23px;
    border-bottom: 2px solid black;
    nav {
      width: 75vw;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        border: 1px solid black;
        padding: 1vh 2vh;
        border-radius: 8px;
        margin-right: 20px;
        &:hover {
          cursor: pointer;
          background-color: rgb(255, 255, 255);
          color: black;
          transform: translateY(-5px);
          box-shadow: 0 4px 2px -2px rgb(14, 14, 14);
        }
        &:active {
          transform: translateY(2px);
          box-shadow: none;
        }
      }
    }
    height: 10vh;
  }

  main {
    margin: 0 auto;
    height: 88vh;
    div.search {
      width: 400px;
      height: 3vh;
      margin: 0 auto; 
      position: relative;

      input {
        width: 349px;
        height: 3vh;
        &:focus {
          outline: none;
          border: 2px solid lime;
          box-shadow: 0px 0px 0px 2px lime;
          border-radius: 2px;
          box-sizing: border-box;
        }
      }
      .search-button {
        display: inline;
        position: absolute;
        height: 3vh;
        top: 0px;
        width: 35px;
        font-size: 24px;
        padding-top: -5px;
        background-color: rgba($color: #ffffff00, $alpha: 1);
        border: none;
        margin-left: 3px;
        span {
          position: absolute;
          top: -5px;
          left: 7px;
          transform: rotateZ(320deg);
        }
        &:hover {
          cursor: pointer;
          top: -2px;
        }
        &:active {
          top: 0;
        }
      }
    }
    div.container {
      min-width: fit-content;
      min-height: 400px;
      height: fit-content;
      padding: 1vh;
      margin: 10px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 200px;
      .aboutContainer {
        text-align: center;
        justify-content: center;
      }
      .pokemon {
        width: 150px;
        height: 185px;
        margin: 10px;
        text-align: center;
        border: 2px solid rgb(143, 143, 143);
        background-color: rgb(222, 222, 222);
        border-radius: 4px;
        img {
          -webkit-user-drag: none;
        }
        &:hover {
          animation: bounce 1s linear;
          cursor: url(img/cursor.png), auto;
        }

        .name {
          text-transform: capitalize;
          font-weight: bold;
        }
        .type {
          &::first-letter {
            text-transform: uppercase;
          }
          img {
            height: 15px;
          }
        }
      }
      .notFound {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        font-size: 30px;
        color: rgb(157, 7, 45);
        .notFoundImg {
          height: 40px;
          margin: 20px;
        }
      }
    }
    .homePage {
      text-align: center;
      // background-color: #d2615d;
      font-size: 20px;
      margin-bottom: 15px;
      .pokemonPhoto {
        height: 200px;
        width: fit-content;
      }
      .arrowDown {
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .pagination {
      position: absolute;
      top: 340px;
      left: 92px;
      .p-button {
        background-color: aqua;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        margin-right: 5px;
        &:hover{
          cursor: pointer; 
        }
      }
    }
  }
}

// Animations

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
